@import url("https://fonts.googleapis.com/css?family=Lato:700,900|Montserrat:400,700|Raleway:100,200,300,400,500,600,700&display=swap")
@import "css/reset.css"
@import "css/responsive.css"
*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: 'Montserrat', sans-serif

a
  display: block
  text-decoration: none

ul, li
  display: inline-block
  list-style-type: none

h2
  font-size: 124px
  font-weight: 700
  line-height: 120px

h3
  font-size: 60px
  font-weight: 700
  line-height: 102.97px
  color: #ffffff

p
  font-size: 18px
  font-weight: 700
  line-height: 48px
  color: #ffffff

.main_p
  color: #3624ea
  font-size: 24px
  font-weight: 700
  line-height: 48px

.container
  max-width: 2000px
  margin: 0 auto

.wrapper
  max-width: 1470px
  padding: 0 15px

/*header*/
.header-inner
  width: 100%
  min-height: 1200px
  padding-top: 50px
  background-image: url(../img/header_bg.jpg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.header__top
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  min-height: 200px
  margin: 0 auto

.header__logo
  display: block
  max-width: 100px
  min-height: 100px

.header__menu
  font-size: 24px
  line-height: 48px
  font-weight: 700
  & li+li
    margin-left: 60px
  & a
    width: 100%
    height: 100%
    color: white
  & a:hover
    color: #18f7ef


/*header-main-logo*/
.header__text
  width: 100%
  min-height: 190px
  margin-top: 250px
  margin-bottom: 260px
  text-align: center
  font-size: 192px
  font-weight: 700
  color: white
  & span
    background: linear-gradient(to right, rgb(69, 249, 247) 35%, rgb(38, 204, 201) 65%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent


/*header schroll*/
.header__blackfill
  min-height: 250px
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0))

.header__schroll
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  min-height: 250px

.header__schroll-img img
  max-width: 25px
  min-height: 35px

.header__schroll-text
  margin-top: 20px
  font-size: 18px
  font-weight: 400
  color: white


